<section class="answers">
    <div class="container">
        <div class="answers-result-secondary">
            <div class="answers-result-text">
                Результат прохождения теста <img src="/img/grey-arrow.png" alt="grey-arrow">
            </div>
            <div class="answers-result-name" id="test-name">
            </div>
        </div>
        <div class="who-done">
            Тест выполнил
            <div class="done-text" id="done-text">
            </div>
        </div>
        <div class="answers-title big-title">
            <span>Правильные ответы</span> к тесту
        </div>
        <div class="test-question">
            <div class="test-question-options" id="options">
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="pass-question">
        <a id="back-to-result">Обратно к моему результату теста
            <img src="/img/arrow-second.png" alt="arrow">
        </a>
    </div>
</div>