.choice {
    padding-top: 180px;
    padding-bottom: 227px;
}

.choice .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.choice-content {
    max-width: 583px;
}

.choice-description {
    margin-top: 40px;
    font-size: 18px;
    line-height: 21.6px;
}

.choice-options {
    margin-top: 60px;
}

.choice-option {
    background-color: white;
    border: 1px solid #C1BBBB;
    font-size: 18px;
    line-height: 21.6px;
    padding: 26px 70px 26px 40px;
    position: relative;
    transition-duration: .2s;
    width: 583px;
    height: 74px;
    box-sizing: border-box;
}

.choice-option-arrow {
    display: none;
    position: absolute;
    right: 40px;
    top: 27px;
    transition-duration: .2s;
}

.choice-option:hover .choice-option-arrow {
    display: block;
}

.choice-option:hover {
    border-left: 5px solid #6933DC;
    cursor: pointer;
    color: #6933DC;
    font-family: "Museosanscyrl Bold", sans-serif;
}

.choice-option-result {
    position: absolute;
    z-index: 2;
    right: 16px;
    top: 16px;
    border: 1px solid #6933DC;
    padding: 5px;
    font-size: 12px;
    line-height: 14px;
    color: #6933DC;
    background: white;
    text-align: center;
}

.choice-option-result div:first-child {
    margin-bottom: 3px;
}